/* Aggregated modular styles for legacy references */
@import url('./base.css');
@import url('./layout.css');
@import url('./components/buttons.css');
@import url('./components/cards.css');
@import url('./components/tables.css');
